
/* navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--pre-color);
  border-right: 2.5px solid var(--extra-bc);
  z-index: 10;
  transition: all 1.5s ease;
}

.show-menu {
  left: 0;
}

.navbar .container {
  margin-top: 68px;
  height: 100%;
}

.navbar .container ul{
  padding: 0;
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar .container ul li {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
  padding: 1.6rem 0.6rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.navbar .container ul li:hover {
  background-color: var(--body-bc);
}

.navbar .container ul li.active {
  background-color: var(--hot-color);
}

.navbar .container ul li .item {
  display: flex;
  align-items: center;
}

.navbar .container img {
  filter: invert(var(--invert-scale));
  
}

.navbar .container .filter-tasks {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 0.2rem 0.6rem;
}

.navbar .container .filter-tasks h3 {
  display: inline-block;
}

.navbar .container ul li .item .item-name,
.navbar .container ul li .item,
.navbbar .container ul li .count  {
  pointer-events: none;
}

/* page container styling */

.page-container {
  min-height: 100vh;
  position: relative;
}

/* page overlay styling */
.page-overlay {
  background-color: var(--overlay-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
  transition: all 1s ease;
  transition-delay: 0.5s;
}

/* header styling */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--extra-bc);
  padding: 0.5rem 0.5rem;
  width: 100%;
  top: 0;
  left: 0;
  height: 7.5vh;
}

.header .menu {
  cursor: pointer;
  z-index: 10;
}

.header .menu i {
  font-size: 1.4rem;
  color: var(--text-color);
  background-color: var(--extra-color);
  padding: 0.5rem;
  border-radius: 4px;
}

.header .logo .go-home {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--secondary-color);
  display: flex;
  align-items: flex-end;
}

.header .logo .go-home span {
  color: var(--text-color)
}

.header .logo span .done {
  color: var(--secondary-color);
}

/* main section styling */
.main {
  margin-top: 8vh;
}

.main .container {
  width: 85%;
  margin: auto;
}

.main .container .title {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main .container .title i {
  margin-right: 10px;
}

.main .container .title .shown-tasks {
  transition: all 0.5 ease;
  flex-grow: 1;
}

.main .container .title .count {
  margin-right: 2%;
}

.main .container .tasks-container {
  width: 98%;
  margin: auto;
}

.main .container .tasks-container .form .task-adder {
  padding: 1rem;
  border: 1px solid var(--extra-bc);
  background-color: var(--pre-color);
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.main .container .tasks-container .form .task-adder .add-task-btn {
  border: none;
  background-color: var(--pre-color);
  color: var(--text-color);
  font-size: 1.2rem;
}

.main .container .tasks-container .form .task-adder .add-task-btn i {
  pointer-events: none;
}

.main .container .tasks-container .form .task-adder input {
  background-color: var(--pre-color);
  border: none;
  width: 100%;
  color: var(--text-color);
  font-size: 1.2rem;
}

.main .container .tasks-container .form .task-adder input::placeholder {
  color: var(--holder-color);
}

.main .container .tasks-container .form .task-adder input:focus {
  border: none;
  outline: none;
}

.main .container .tasks-container .tasks-list .task {
  margin-top: 0.5rem;
  border-bottom: 1px solid var(--hot-color);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  transition: all 1s ease;
}

.main .container .tasks-container .tasks-list .task.hidden {
  display: none;
}

.main .container .tasks-container .tasks-list .task .task-content {
  flex-grow: 1;
}

.main .container .tasks-container .tasks-list .task .task-content .status,
.main .container .tasks-container .tasks-list .task .task-controls .edit {
  transition: all 0.5s ease;
  margin-right: 4px;
}

.main .container .tasks-container .tasks-list .task .task-content .task-text.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.main .container .tasks-container .tasks-list .task .task-content .task-text {
  flex-basis: 96%;
  word-break: break-all;
  color: var(--text-color);
  border: none;
  outline: none;
  transition: all 0.5s ease;
}

.main .container .tasks-container .tasks-list .task .task-controls i,
.main .container .tasks-container .tasks-list .task .task-controls span,
.main .container .tasks-container .tasks-list .task .task-content .status i,
.main .container .tasks-container .tasks-list .task .task-controls .save span {
  pointer-events: none;
}

.main .container .tasks-container .tasks-list .task .task-controls .save {
  background-color: var(--hot-color);
  border-radius: 40px;
  padding: 3px 7px;
  transition: all 0.6s ease;
}

.main .container .tasks-container .tasks-list .task .task-controls .save:hover {
  background-color: var(--hotter-color);
}

.main .container .tasks-container .tasks-list .task .task-controls .save.hidden, 
.main .container .tasks-container .tasks-list .task .task-content .status i.hidden  {
  display: none;
}

.main .container .tasks-container .tasks-list .task .task-controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--text-color);
}

.main .container .tasks-container .tasks-list .task .task-content {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.main .container .tasks-container .tasks-list .task .task-controls > * {
  cursor: pointer;
}

.main .container .tasks-container .tasks-list .task .status {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 0.5rem;
}

.main .container .tasks-container .tasks-list .task:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px var(--secondary-color);
}

/* media queries */

@media (min-width: 768px) {
  .navbar {
    left: 0;
    width: 58px;
    transition: width 1.2s ease;
  }

  .navbar .container li .item-name,
  .navbar .container li .count,
  .navbar .container .filter-tasks h3{
    opacity: 0;
  }

  .navbar .container li .item {
    flex: 1 1 100%;
  }

  .navbar .container .filter-tasks img {
    order: -1;
  }

  .navbar:hover {
    width: 170px;
  }

  .navbar:hover .container li .item-name,
  .navbar:hover .container li .count,
  .navbar:hover .container .filter-tasks h3 {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.8s;
  }

  .navbar:hover .container .filter-tasks img {
    order: 1;
    transition-delay: 0.8s;
  }

  .navbar .container .filter-tasks {
    padding: 0.2rem 0.8rem;
  }

  .navbar .container ul li {
    padding: 1.6rem 0.8rem;
  }

  .navbar .container img {
    width: 24px;
  }
  
  .header .logo .go-home {
    pointer-events: auto;
  }

  .page-overlay {
    display: none;
  }
}
